<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course Form</title>
</head>
<body>
<h1 th:text="${course.id != 0} ? 'Update Course' : 'Create Course'"></h1>
<form th:action="@{/instructor/save-course}" th:object="${course}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Title:</label>
    <input type="text" th:field="*{title}" required />
    <br/>
    <button type="submit">Save</button>
</form>
<a th:href="@{/instructor/home}">Back to Home</a>
</body>
</html>
